@font-size__text: 14px;
@font-size__title: 18px;

@font-family__text: "PT Sans", "Arial", sans-serif;

@color-gray: #f2f2f2;
@color-gray-darker: #eeeeee;
@color-gray-dark: #e5e5e5;
@color-gray-reason: #d6d6d6;
@color-white: #ffffff;
@color-blue: #81b3d2;
@color-blue-lighter: #82b3d3;
@color-black: #000000;
@color-blue-gray: #678fa8;
@color-bluish: #9ac2db;
