.field-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 410px;
  margin: 0 auto;
  border-bottom: 2px solid @color-1;
  font-family: inherit;

  .field-checkbox__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
  }

  .field-checkbox__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 280px;
    margin: 14px 0px;
    flex-grow: 1;
  }

  .field-checkbox__title {
    text-align: center;
    font-size: @font-size__title;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .field-checkbox__text {
    margin-left: 25px;
    font-size: @font-size__title;
    line-height: 26px;
  }
}

@media @tablet-widths {
  .field-checkbox {
    align-items: center;
    justify-content: center;
    width: 648px;
    height: 310px;

    .field-checkbox__items {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }

  .field-checkbox__item {
    &:first-child {
      order: -2;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
}

@media @desktop-widths {
  .field-checkbox {
    align-items: center;
    justify-content: center;
    width: 960px;
    height: 215px;

    .field-checkbox__items {
      flex-direction: row;
      justify-content: space-between;
    }

    .field-checkbox__item{
      width: 200px;
    }
  }

  .field-checkbox__item {
    &:first-child {
      order: -2;
    }
    &:nth-child(3) {
      order: -1;
    }
  }
}
