.field-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 318px;
  border-bottom: 2px solid #f2f2f2;

  &:first-child {
    height: 305px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 280px;
    margin: 14px 0px;
    flex-grow: 1;

    &--column {
      flex-direction: column;
      justify-content:space-around;
    }
  }

  &__title {
    text-align: center;
    font-size: @font-size--title;
    line-height: 26px;
    font-family: "PT Sans bold", sans-serif;
    text-transform: uppercase;
  }

  &__text {
    text-align: center;
    font-size: @font-size--text;
    line-height: 26px;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
  }

  &__input {
    font-size: @font-size--title;
    line-height: 26px;
    font-family: "PT Sans bold", sans-serif;
    color: #000000;
  }
}
