.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  height: 307px;
  background-color: @color-4-1;
  font-family: @font-family__text;

  .page-header__list {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 225px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: @font-size__title;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .page-header__item {
    min-width: 320px;
    height: 54px;
    border-bottom: 2px solid @color-4-2;
    border-top: 2px solid @color-5;
    padding: 12px 0px;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .page-header__link {
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    color: @color-2;
  }

  .page-header__logo {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    min-width: 320px;
    height: 80px;
    background-color: @color-2;
    z-index: 1;
  }

  .page-header__logo-link {
    margin-right: 95px;
  }

  .page-header__trigger {
    width: 22px;
    height: 22px;
    margin-top: 17px;
    border: none;
    background-color: @color-4;
  }
}
