.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
  font-family: @font-family__text;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-footer__location {
  height: 350px;
  width: 320px;
  background: #f5f2e4 url("../img/bg-map-mobile@1x.jpg") center top no-repeat;
  background-size: contain;
}

@media (max-width: 767px) and (min-resolution: 144dpi), (max-width:767px) and (min-resolution: 1.5dppx) {
  .page-footer__location {
    background: #f5f2e4 url("../img/bg-map-mobile@2x.jpg") center top no-repeat;
    background-size: contain;
    margin-top: 42px;
  }
}

.page-footer__google {
  width: 320px;
  height: 350px;
}

.page-footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  padding: 42px 0px 21px;
  background-color: @color-2;

  &--big {
    padding: 80px 0px 22px;
  }

  &--medium {
    padding: 78px 0px 22px;
  }
}

.page-footer__hashtag-container {
  width: 140px;
}

.page-footer__hashtag {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: @color-3;
}

.page-footer__social-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 41px 0px;
}

.page-footer__social-item {
  display: block;
  width: 48px;
  height: 48px;
  padding: 14px;
  box-sizing: border-box;
  background-color: @color-4;

  &:nth-child(2) {
    margin: 0px 6px;
    padding: 14px 10px 14px 20px;
  }

  &:active {
    background-color: @color-4-2;
  }

  &:active svg {
    fill: @color-4-3;
  }

  &:hover {
    background-color: @color-4-2;
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 133px;
}

.page-footer__copyright-link {

  &:active {
    fill: @color-6-3;
  }

  &:hover {
    fill: @color-4;
  }
}

.page-footer__text {
  font-size: @font-size__text;
  text-transform: uppercase;
  margin: 0px 10px 0px 0px;
}


@media @tablet-widths {
  .page-footer {
    width: 768px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-footer__location {
    width: 768px;
    background: #f5f2e4 url("../img/bg-map-tablet@1x.jpg") center top no-repeat;
    background-size: contain;
  }

  @media (min-width: 768px) and (min-resolution: 144dpi), (min-width:768px) and (min-resolution: 1.5dppx) {
    .page-footer__location {
      background: #f5f2e4 url("../img/bg-map-tablet@2x.jpg") center top no-repeat;
      background-size: contain;
    }
  }

  .page-footer__google {
    width: 768px;
    height: 350px;
  }

  .page-footer__contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 648px;
    padding: 36px 60px;

    &--big {
      padding: 0px 60px 36px;
    }

    &--medium {
      padding: 97px 60px 36px;
    }
  }

  .page-footer__social-items {
    margin: 0px;
  }
}

@media @desktop-widths {
  .page-footer {
    width: 100%;
    background-color: @color-1;
  }

  .page-footer__wrapper {
    flex-direction: row;
    .container();
    background-color: @color-2;
  }

  .page-footer__location {
    background: #f5f2e4 url("../img/bg-map-desktop@1x.jpg") center top no-repeat;
    width: 1200px;
    background-size: contain;
  }

  @media (min-width: 1200px) and (min-resolution: 144dpi), (min-width:1200px) and (min-resolution: 1.5dppx) {
    .page-footer__location {
      background: #f5f2e4 url("../img/bg-map-desktop@2x.jpg") center top no-repeat;
      background-size: contain;
    }
  }

  .page-footer__google {
    width: 1200px;
    height: 350px;
  }

  .page-footer__contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1026px;
    padding: 36px 44px 36px 133px;

    &--big {
      padding: 28px 44px 36px 133px;
    }

    &--medium {
      padding: 102px 120px 36px 133px;
    }
  }

  .page-footer__social-items {
    margin: 0px;
    transform: translateX(-40%);
  }

  .page-footer__social-item:nth-child(2) {
      margin: 0px 12px;
    }
}
