.promo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  margin-top: -28px;
  width: 320px;
  background-color: @color-2;
  font-family: @font-family__text;

  &--small {
    margin-top: 0px;;
  }
}

.promo__picture {
  text-align: center;
  box-sizing: border-box;
  height: 390px;

  &--small {
    height: 135px;
  }
}

.promo__img {
  width: 320px;
  height: 390px;

  &--small {
    margin-top: -255px;
  }
}

.promo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0px 10px;
  margin: 0 auto;
  box-sizing: border-box;

  &--wide {
    padding: 40px 0px 25px;
  }

  &--big {
    padding: 35px 0px 25px;
  }
}

.promo__title {
  padding: 0px 28px;
  margin: 0px 0px 26px;
  text-align: center;
  font-size: @font-size__title;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo__item--wide .promo__title {
  margin: 0px 0px 20px;
}

.promo__text {
  padding: 0px 23px;
  margin: 0px;
  text-align: center;
  font-size: @font-size__text;
  line-height: 27px;
  text-transform: uppercase;
}


@media @tablet-widths {
  .promo {
    width: 768px;
  }

  .promo__picture {
    width: 768px;
    height: 520px;

    &--small {
      height: 290px;
    }
  }

  .promo__img {
    width: 768px;
    height: 520px;

    &--small {
      margin-top: -230px;
    }
  }

  .promo__item {
    width: 768px;
    padding: 70px 0px 70px;

    &--wide {
      padding: 51px 0px 56px;
    }
  }

  .promo__title {
    margin: 0px 0px 35px;
    padding: 0px 160px;

    &--big {
      margin: 0px 0px 30px;
      padding: 0px 160px;
      font-size: @font-size__title--large;
    }
  }

  .promo__text--big {
      padding: 0px 155px;
  }
}

@media @desktop-widths {
  .promo {
    width: 100%;
    background-color: @color-1;
  }

  .promo__wrapper {
    .container();
    background-color: @color-2;
  }

  .promo__picture {
    height: 520px;
    width: 1200px;

    &--small {
      height: 300px;
    }
  }

  .promo__img {
    width: 1200px;
    height: 520px;

    &--small {
      margin-top: -220px;
    }
  }

  .promo__item {
    width: 1200px;
    padding: 100px 0px 60px;

    &--wide {
      padding: 50px 0px 56px;
    }
    &--big {
      padding: 108px 0px 70px;
    }
  }

  .promo__title {
    margin: 0px 0px 35px;
    padding: 0px 360px;
    font-size: @font-size__title--more;

    &--big {
      margin: 0px 0px 30px;
      font-size: @font-size__title--large;
    }
  }

  .promo__text--big {
      padding: 0px 380px;
  }
}
