.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
  height: 420px;
  background-color: #ffffff;

  &__items {
    padding: 20px 30px 40px 70px;
  }

  &__item {
    height: 115px;
    list-style: none;
  }

  &__title {
    padding-right: 145px;
    font-size: @font-size--title;
    line-height: 26px;
    font-family: "PT Sans bold", sans-serif;
    text-transform: uppercase;
  }

  &__text {
    font-size: @font-size--text;
    line-height: 24px;
    font-family: "PT Sans", sans-serif;
    text-transform: uppercase;
  }
}
