.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
  height: 420px;
  background-color: @color-white;

  .features__items {
    padding: 20px 30px 40px 70px;
  }

  .features__item {
    height: 115px;
    list-style: none;
  }

  .features__title {
    padding-right: 145px;
    font-size: @font-size__title;
    line-height: 26px;
    font-family: @font-family__title;
    text-transform: uppercase;
  }

  .features__text {
    font-size: @font-size__text;
    line-height: 24px;
    font-family: @font-family__text;
    text-transform: uppercase;
  }
}
