.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
  font-family: @font-family__text;

  &:first-child {
    height: 470px;
  }

  &:last-child {
    height: 955px;
  }
}

.reason__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reason__item {
    height: 168px;
    flex-grow: 1;
    margin: 0px;

  &:nth-child(3) {
    border-bottom: 2px solid @color-1-3;
    border-top: 2px solid @color-1-3;
  }

  &--white {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    color: @color-2;
  }

  &--no-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: @color-1-1;
  }
}

.reason__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 190px;
  background-color: @color-4-1;
}

.reason__title {
  box-sizing: border-box;
  text-align: center;
  font-size: @font-size__title;
  line-height: 26px;
  font-family:  inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.reason__text {
  text-align: center;
  font-size: @font-size__text;
  line-height: 24px;
  font-family:  inherit;
  text-transform: uppercase;
}

.reason__img {
  height: 260px;
}

@media @tablet-widths {
  .reason {
    width: 768px;

    &:first-child {
      height: 256px;
    }

    &:last-child {
      height: 513px;
    }
  }

  .reason__item {
      height: 256px;

    &:nth-child(3) {
      border: none;
    }

    &--white {
      flex-direction: row;
    }
  }

  .reason__list {
    width: 256px;
    height: 256px;
  }

  .reason__title {
    padding: 0px 50px;
  }

  .reason__text {
    padding: 0px 35px;
  }

  .reason__picture--after-text {
    order: -1;
  }

  .reason__img {
    width: 512px;
    height: 256px;
  }

  .reason__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .reason__item--no-img {
    width: 256px;
    height: 256px;
  }
}


@media @desktop-widths {
  .reason {
    width: 1280px;

    &:first-child {
      height: 256px;
    }

    &:last-child {
      height: 513px;
    }
  }

  .reason__item {
      height: 256px;

    &:nth-child(3) {
      border: none;
    }

    &--white {
      flex-direction: row;
    }
  }

  .reason__list {
    width: 400px;
    height: 256px;
  }

  .reason__title {
    padding: 0px 126px;
  }

  .reason__text {
    padding: 0px 60px;
  }

  .reason__picture--after-text {
    order: -1;
  }

  .reason__img {
    width: 800px;
    height: 256px;
  }

  .reason__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    .container();
  }

  .reason__item--no-img {
    width: 400px;
    height: 256px;
  }
}
