.reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0;
  box-sizing: border-box;

  &:nth-child(3) {
    border-bottom: 2px solid @color-1-3;
    border-top: 2px solid @color-1-3;
  }
}

.reason__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  flex-grow: 1;
  padding: 40px 0px 17px;
  box-sizing: border-box;
  color: @color-2;
  background-color: @color-4-1;

  &--no-img{
    padding: 30px 10px 5px;
    background-color: @color-1-1;
    color: @color-3;
  }
}

.reason__title {
  text-align: center;
  box-sizing: border-box;
  margin: 0px 0px 10px;
  padding: 0px 20px;
  font-size: @font-size__title;
  line-height: 26px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.reason__text {
  text-align: center;
  box-sizing: border-box;
  margin: 0px 25px 14px;
  font-size: @font-size__text;
  line-height: 24px;
  font-family: inherit;
  text-transform: uppercase;
}

.reason__picture {
  width: 320px;
  height: 260px;
}

.reason__img {
  width: 320px;
  height: 260px;
}

@media @tablet-widths {
  .reason {
    flex-direction: column;
    width: 256px;

    &:nth-child(3) {
      border: none;
    }

    &--other-color {
      flex-direction: row;
      width: 768px;
    }
  }

  .reason__item {
    width: 256px;
    padding: 45px 0px 20px;

    &--no-img{
      padding: 45px 5px 20px;
    }
  }

  .reason__title {
    margin: 0px 0px 10px;
    padding: 0px 35px;
    font-size: @font-size__title--big;
  }

  .reason__text {
    margin: 0px 45px 18px;
  }

  .reason__picture {
    width: 512px;
    height: 256px;

    &--after-text {
      order: -1;
    }
  }

  .reason__img {
    width: 512px;
    height: 256px;
  }
}


@media @desktop-widths {
  .reason {
    flex-direction: column;
    width: 400px;

    &:nth-child(3) {
      border: none;
    }

    &--other-color {
      flex-direction: row;
      width: 1200px;
    }
  }

  .reason__item {
    width: 400px;
    padding: 55px 0px 17px;

    &--no-img{
      padding: 42px 25px 30px;
    }
  }

  .reason__title {
    margin: 0px 0px 13px;
    padding: 0px 115px;
  }

  .reason__text {
    margin: 0px 45px 25px;
  }

  .reason__picture {
    width: 800px;
    height: 256px;

    &--after-text {
      order: -1;
    }
  }

  .reason__img {
    width: 800px;
    height: 256px;
  }
}
